//EVENTS
.events{
	ul{
		margin:0;
		padding:0;
	}
	li{
		@include transition(all 0.5s ease);
		margin:0;
		padding:0;
		display:block;
		list-style: none;
	}
	
}
.event-row{
	position: relative;
		.event-date {
	    background: rgba(0,0,0,0.7);
	    color: $color-white;
	    height: 60px;
	    left: 0;
	    position: absolute;
	    text-transform: uppercase;
	    top: 0;
	    width: 80px;
	    z-index: 11;
		    span {
			    font-size: 2.2rem;
			    font-weight: 500;
			    position: absolute;
			    text-align: center;
			    top: 2px;
			    width: 30px;
			}
			.start-day {
			    left: 6px;
			}
			.start-month {
			    font-size: 1.4rem;
			    left: 6px;
			    top: 32px;
			}
			.separate-date {
			    left: 35px;
			    top: 10px;
			    width: 10px;
			}
			.end-day {
			    right: 6px;
			}
			.end-month {
			    font-size: 1.4rem;
			    right: 6px;
			    top: 32px;
			}

		}
		.event-title{
			color: $blue-title;
			margin-bottom: 15px;
		}
		.date{
			margin-bottom:0;
		}
}

.more-events{
	background:#d6d6d6;
	padding:0px;
	text-align:center;
	.fa{
		font-size:40px;
		display: block;
		color: $color-white;
	}
}
.less-events .fa-angle-down:before {
    content: "\f106";
}

figure.effect-events {
	position:relative;
	p {
	    width: 100px;
	    text-transform: none;
	    font-size: 121%;
	    line-height: 2;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	    transition: opacity 0.35s, transform 0.35s;
	    -webkit-transform: translate3d(-50%,-50%,0);
	    transform: translate3d(-50%,-50%,0);
	    -webkit-transform-origin: 50%;
	    transform-origin: 50%;
	    text-align: center;
	}

	figcaption {
		@include transition(all 0.5s ease);
	    padding: 2em;
	    color: #fff;
	    text-transform: uppercase;
	    font-size: 1em;
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
		opacity:0;
	}
	a{
		color: $body-text;
	}
}
figure.effect-events{
	&:hover, &:focus{
		figcaption{
			opacity:1;
		}
	}
}
figure.effect-events figcaption, figure.effect-events figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
figure.effect-events figcaption::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
    transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    background: $color-white;
}
figure.effect-events:hover figcaption::before {
    opacity: 1;
    -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);
    transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);
}