//NAVBAR
.navbar{
	margin-bottom:0;
}
.navbar-fixed-top{
	padding-top:10px;
	background: $color-white;
}
.navbar-toggle {
    color: $brand-primary;
    margin-top: 0;
		.icon-bar {
    		background-color: $brand-primary;
    		height: 3px;
		}
}
.nav-tabs {
    border-bottom: 1px solid $border-nav;
    background:$light-bg;
    li{
		width: 100%;
    }
    .caret{
    	@include transition(all 0.2s ease);
    	float: right;
    	margin-top: 5px;

    }
    .dropdown-menu{
    	position: relative;
	    background: $light-bg;
	    border: none;
	    border-top: 1px solid $color-white;
	    list-style: none;
	    margin: 0;
	    padding: 0 0 5px;
	    -webkit-box-shadow: none;
    	box-shadow: none;
	}
}
.open{
	a{
		border-color:transparent !important;
	}
	.caret{
		@include transform(rotate(-180deg));
	}
	
}
