
// Font Variables
$cabin-regular: 'Cabin', sans-serif; 
$cabin-semibold: 600;
//Color Variables
$brand-primary:#10a1cc;
$light-bg: #f5f5f5;
$border-nav: #ebebeb;
$body-text:#373737;
$color-white: #FFFFFF;
$blue-title: #4882b0;
//Import Compass and Bootstrap
@import "compass";
@import "bootstrap";
@import "header";
@import "navbar";
@import "events";
@import "footer";

//Basic styles font-family and size
body{
	color:$body-text;
	font-family: $cabin-regular;
	padding-top:40px;
}
h1, h2, h3{
	font-weight:normal;
	font-size:22px;
}
h3{
	font-size:18px;
}

.form-control{
	border-radius: 0;
}
//TEXT BOX COMMON STYLES
%text-box-layout{
	margin-bottom:30px;
}
.text-box{
	@extend %text-box-layout;
}
.event-row{
	@extend %text-box-layout;
}


//LIST BULLETS

.list-group-item{
	background:$light-bg;
	margin-bottom: 0;
    border: 0;
    border-bottom: 1px solid #e2e2e2;
	    &:first-child {
	    border-top-right-radius: 0px;
	    border-top-left-radius: 0px;
		}
		&:last-child {
	    border-bottom-right-radius: 0px;
	    border-bottom-left-radius: 0px;
		}
	a{
		display: block;
	}
}
.list-bullet{
	padding:8px 0;
	background:$light-bg;
	.list-group-item{
		border:0;
		padding: 5px 15px;
		&::before {
		    color: #10a1cc;
		    content: '\2022';
		    font-size: 17px;
		    margin-right: 5px;
		    line-height: 0;
		}
	}

}

//IMAGE Styles



.img-responsive{
	width:100%;
	&:hover, &:focus{
		@include opacity(0.6);
	}

}

.img-link{
	@include transition(all 0.5s ease);
	margin-bottom:20px;
	display:block;
	height:163px;
	overflow:hidden;
	&:hover, &:focus{
			background:$brand-primary;
		}

}
//IN THIS SECTION
.this-section{
	.nav-tabs{
		a{
			color:$body-text;
			&:hover, &:focus{
			color:$brand-primary;
		}
		}
	}
}

//POPULAR BOX
.popular{
	a{
		color:$body-text;
		&:hover, &:focus{
			color:$brand-primary;
		}
	}
}

//SOCIAL MEDIA
.social-networks {
	padding:0;
	text-align:center;
	margin:20px 0;
	
	li {
	    display: inline-block;
	    margin: 0;
	}
	a {
		width: 30px;
	    white-space: nowrap;
	    overflow: hidden;
	    text-indent: 40px;
	    font-size: 175%;
	    color: $body-text;
		&:before {
		    text-indent: 0;
    		float: left;
		}
	}

}

//CITY GALLERY
.carousel-caption{
	background: rgba(0,0,0,0.7);
	left:0;
	right:0;
	bottom:0;
	padding:10px;
	text-transform:uppercase;
	font-weight: $cabin-semibold;
}
.carousel-control{
	.fa{
		font-size:65px;
		position: absolute;
    	top: 35%;
	}
}
.right.carousel-control{
	text-align:left;
}
.carousel-inner img{
	width:100%;
}

//PRE LOADER
#loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-white;
    z-index: 99;
    height: 100%;
    #status {
	    width: 200px;
	    height: 200px;
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    background-image: url(../img/preloader.gif);
	    background-repeat: no-repeat;
	    background-position: center;
	    margin: -100px 0 0 -100px;
	}
}